<td class="list-group">
  <%= link_to 'Show', product,  class: 'list-group-item ' %><br/>
  <%= link_to 'Edit', edit_product_path(product), class: 'list-group-item list-group-item-info' %><br/>
  <%= link_to 'Destroy', product, class: 'list-group-item list-group-item-warning', method: :delete,
              data: { confirm: 'Are you sure?' } %>
</td>