@import "bootstrap";
@import "bootstrap-sprockets";
@import "store";


.example3 .navbar-brand {
  height: 80px;
}
.example3 .my-nav-color {
  background-color: #8cd98c
}
.example3 .nav >li >a {
  padding-top: 30px;
  padding-bottom: 30px;
}
.example3 .navbar-toggle {
  padding: 10px;
  margin: 25px 15px 25px 0;
}
.left-img {
  left: 5%;
  position: absolute;
}
