// Place all the styles related to the Store controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.very-responsive {
  max-width: 242px ;
  max-height: 200px ;
  margin-outside: 5px;
}

.pragmatic-border {
  border-bottom: 5px dotted #77d;
}
.awesome-text {
  margin-left: 15px;
}