<%= simple_form_for(@product) do |f| %>
  <%= render partial: 'products/partials/alert_window', locals: { product: @product }  %>

  <div class="form-groups">

    <%= f.input :title,label_html: { class: 'label  label-default' }, class: 'form-control' %>
    <%= f.input :description, label_html: { class: 'label  label-default' }, class: 'form-control'    %>
    <%= f.input :image_url,label_html: { class: 'label  label-default' }, class: 'form-control'  %>
    <%= f.input :price,label_html: { class: 'label  label-default' }, class: 'form-control'  %>
  </div>

  <div class="btn col-md-6 col-md-offset-3 btn-primary btn-lg">
    <%= f.button :submit %>
  </div>
    <div class="clearfix"></div>
<% end %>
