

<h1>Products</h1>

<table class="table table-condensed table-striped">
  <% @products.each do |product| %>
      <tr class="<%= cycle('danger', 'success') %>">

        <td>
          <%= image_tag(product.image_url, class: 'img img-thumbnail') %>
        </td>

        <td class="list_description">
          <dl>
            <dt><%= product.title %></dt>
            <dd><%= truncate(strip_tags(product.description),
                             length: 80) %></dd>
          </dl>
        </td>

        <td class="list-group">
          <%= link_to 'Show', product,  class: 'list-group-item ' %><br/>
          <%= link_to 'Edit', edit_product_path(product), class: 'list-group-item list-group-item-info' %><br/>
          <%= link_to 'Destroy', product, class: 'list-group-item list-group-item-warning', method: :delete,
                      data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
  <% end %>
</table>

<hr />
<div class="row">
  <div class="col-md-offset-3 col-md-6">
    <%= link_to 'New product', new_product_path, class: 'btn btn-block btn-primary' %>
  </div>
</div>



