<p id="notice"><%= notice %></p>

<p class="bg-success text-center">
  <strong>Title:</strong>
  <%= @product.title %>
</p>

<p class="well text-center">
  <span class="label label-info">Description:</span>
  <%= @product.description %>
</p>

<p>
  <span class="badge">Image url:</span>
  <%= image_tag @product.image_url, class: 'img img-circle' %>
</p>

<p>
  <span class="label label-default text-capitalize">Price:</span>
  <%= @product.price %>
</p>
<div class="btn-group btn-group-justified btn-group-md">
  <%= link_to 'Edit', edit_product_path(@product), class: 'btn  btn-info' %>
  <%= link_to 'Back', products_path, class: 'btn  btn-danger' %>
</div>

