
  <div class="page-header pragmatic-border col-md-pull-3">
    <h1>Your Pragmatic Store <small>bootstraped edition</small></h1>
  </div>



  <div class="row">
    <% @products.each do |product| %>
        <div class="col-sm-6 col-md-4   col-md-offset-3 col-md-pull-3">
          <div class="thumbnail">

            <%= image_tag product.image_url, class: ' img-responsive very-responsive pull-left' %>



            <div class="caption">
              <h3><%= product.title %></h3>
              <p class="awesome-text"> <%= truncate product.description, length: 80 %>.</p>
              <p class="text-left"><span class="label label-success">Price</span> <%= product.price %></p>
            </div>
          </div>
        </div>
    <% end %>
  </div>






